.container{
    height: 544px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    /* Flex properties for flex container*/
    flex-direction: row;
    /* Defalut value of flex-direction in row*/
    /*flex-direction: column;*/
    /*flex-direction: row-reverse;*/
    flex-wrap: wrap;
    /*flex-wrap: wrap-reverse;/*Wrap from opposite direction*/
    /*flex-flow: row-reverse wrap;*/
    justify-content: center;
    /* the content will always be aligned center */
    /* justify-content: space-between; */
    /* The space between the contents will always be same */
    /* justify-content: space-around; */
    /* The space around the contents will always be same */
    /* justify-content: space-evenly; */
    align-items: center;
}
.item{
    width: 200px;
    height: 200px;
    background-color: tomato;
    border: 2px solid green;
    margin: 10px;
    padding: 3px; 
}
#item-1{
    /* Flex properties for flex item */
    /* Higher the order the later it shows up in the container  */
    /* order: 2; */
    /* flex-grow: 3; */
    /* flex-shrink: 10; */
    /* When flex directon is set to row flex basis : will control width */
    /* When flex directon is set to cloumn flex basis : will control height */
    /* flex-basis: 320px; */
    /* flex: 2 2 200px; */
    /* flex shorthand flex: grow shrink basis; */
    align-self: flex-start;
    align-self: flex-end;
    /* align-self: center; */

}

